#game{
    display: flex;
    justify-content: center;
    padding: 12px;
}
button{
    height: 30px;
    width: 120px;
    background-color: blanchedalmond;
}
body{
    background-color: gray;

}